.signup-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.signup-modal {
  position: relative;
  width: 90%;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  animation: fadeIn 0.3s ease-out;
}

.modal-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
}

.modal-close-button:hover {
  color: red;
}

/* Optional animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
