/* General styles for History Card */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@300;400;500;600;700&display=swap");

.history-card-container {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 3px 6px #00000014;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.history-card-container.selected {
  border-color: #e31837; /* Red color when selected */
}

.history-card-title {
  font-weight: bold;
  color: var(--font-color);
  white-space: nowrap; /* Ensures text doesn't wrap */
  overflow: hidden; /* Hides overflowing text */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflowing text */
  margin: 0;
  font-size: 14px;
  margin-bottom: 5px;
}

.history-card-timeStamps {
  color: #acacac;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  white-space: nowrap; /* Ensures text doesn't wrap */
  overflow: hidden; /* Prevents content overflow */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflowing text */
  font-weight: normal;
}

.history-card-active {
  padding: 2px 6px;
  background-color: rgba(0, 61, 121, 0.1);
  color: #003d79;
  border-radius: 10px;
  font-size: 12px;
  white-space: nowrap;
}

p {
  margin: 0;
}

.logo-icon {
  margin-bottom: 30px;
}
.small {
  font-size: 14px;
}

.medium {
  font-size: 16px;
}
.large {
  font-size: 18px;
}
.extra-large {
  font-size: 20px;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}
